<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>
            {{ server.name | shorten:4 }}
          </strong> | 
          <!-- applying uppercase pipe to instanceType; this will affect what is output to the template but not the actual data itself -->
          {{ server.instanceType | uppercase}} | 
          <!-- can have different parameters for pipes using :''-->
          <!-- added the fullDate parameter to the date pipe to change how the date is displayed -->
          {{ server.started | date:'fullDate' | uppercase}} 
          <!-- can also chain pipes; will be read from left to right so order does matter! -->
        </li>
      </ul>
    </div>
  </div>
</div>
